$whiteLiteTransparent: rgba(234, 233, 228, 0.9);
$panelWidth: 274px;
$leftSpacing: 20px;
$topSpacing: 20px;

$newsTextContainerHeight: 136px;


#pun-announcement {

  // Прячем кучу всего ненужного в announcement'e
  height: 0;
  * {
    box-sizing: border-box;
  }
  a, font {
    user-select: none;
  }
}

#pun-announcement table {

  td {
    display: none;
  }
  br {
    display: none;
  }

  //Новости форума
  tr:nth-child(1) td:nth-child(2) {
    display: block;
    position: absolute;
    top: 20px;
    left: $leftSpacing;
    background-color: $whiteLiteTransparent;
    width: $panelWidth !important;
    opacity: 0.65;
    transition: opacity $duration;
    br {
      display: inline-block;
    }
  }
  tr:nth-child(1) td:nth-child(2):hover {
    opacity: 0.9;
  }
  tr:nth-child(1) td:nth-child(2) font {
    display: none;
  }
  //Див текст контейнер внутри новостей форума
  tr:nth-child(1) td:nth-child(2) > div {
    box-sizing: border-box;
    height: $newsTextContainerHeight !important;
    margin-bottom: 0 !important;
  }


  //Администраторы
  tr:nth-child(3) td:nth-child(1) {
    display: block;
    position: absolute;
    left: $leftSpacing;
    top: $topSpacing + $newsTextContainerHeight + $topSpacing;
    width: $panelWidth !important;
    background-color: rgba(234, 233, 228, 0.65);

    transition: background-color $duration;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    padding: 3px;
  }
  tr:nth-child(3) td:nth-child(1):hover {
    background-color: rgba(234, 233, 228, 0.8);
  }
  tr:nth-child(3) td:nth-child(1) font {
    display: none;
  }
  tr:nth-child(3) td:nth-child(1) a {
    display: block;
  }
  tr:nth-child(3) td:nth-child(1) img {
    display: block;
    height: 60px;
    width: 60px;
    opacity: 0.6;
    transition-property: opacity, transform;
    transition-duration: $duration;
  }
  tr:nth-child(3) td:nth-child(1) img:hover {
    opacity: 1;
    transform: scale(1.09);
  }


  //Абстрактный класс для навигации
  %panel-nav {
    text-align: left;
    text-transform: lowercase;
    display: block;
    position: absolute;
    left: $leftSpacing;
    background-color: rgba(234, 233, 228, 1);
    width: $panelWidth !important;
    padding: 0 16px;
    cursor: pointer;
  }
  %panel-nav::before {
    content: '';
    display: block;
    position: absolute;
    height: 25px;
    width: 25px;
    background-image: url(http://forumfiles.ru/files/0019/71/cd/38838.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    right: 8px;
  }
  %panel-nav__button {
    display: block;
    padding: 3px;
    font-weight: normal !important;
  }
  %panel-nav__link {
    padding-left: 16px;
    display: block;
    font-style: italic;
    text-decoration: none;
    color: inherit;
    display: none;
    position: relative;
    margin: 4px 0;
  }
  %panel-nav__link:hover {
    text-decoration: underline;
  }

  //Для гостей
  tr:nth-child(1) td:nth-child(1) {
    @extend %panel-nav;
    top: $topSpacing + $newsTextContainerHeight + $topSpacing + 60px/*администраторы*/ + $topSpacing;
    //выше чем "для игроков
    z-index: 2;
  }
  //Для игроков
  tr:nth-child(1) td:nth-child(3) {
    @extend %panel-nav;
    //ниже чем "для гостей
    z-index: 1;
    top: $topSpacing + $newsTextContainerHeight + $topSpacing + 60px/*администраторы*/ + $topSpacing + 25px/*для гостей*/ + $topSpacing;
  }
  //Кнопки "для гостей" и "для игроков"
  tr:nth-child(1) td:nth-child(1) font, tr:nth-child(1) td:nth-child(3) font {
    @extend %panel-nav__button;
  }
  //Пункты навигации для гостей и игроков
  tr:nth-child(1) td:nth-child(1) a, tr:nth-child(1) td:nth-child(3) a {
    @extend %panel-nav__link;
  }


}
