@font-face {
  font-family: 'AO TYPE';
  src: url("http://forumfiles.ru/files/0019/71/cd/68794.ttf");
}

$darkBeige: #B2988B;
$brown: #3E291F;
$whiteLite: #DFD3CD;

body {
  margin: 0;
  background-color: #5D514A;
  font-family: Georgia, serif;
  background-image: url("http://forumfiles.ru/files/0019/71/cd/49614.jpg");
  background-size: contain;
}


#pun_wrap {
  width: 960px;
  margin: 0 auto;
  background-color: $darkBeige;
}
.section {
  background-color: $darkBeige;
}

.container {
  padding: 0 16px;
}

.section > h2 {
  display: none;
}
.divider {
  display: none;
}
