@font-face {
  font-family: 'AO TYPE';
  src: url("http://forumfiles.ru/files/0019/71/cd/68794.ttf");
}


$darkBeige: #B2988B;
$brown: #3E291F;
$light: #DFD3CD;
$whiteLite: #eae9e4;

$duration: 0.2s;

body {
  margin: 0;
  background-color: #5D514A;
  font-family: Georgia, serif;
  background-image: url("http://forumfiles.ru/files/0019/71/cd/49614.jpg");
  background-size: contain;
}

a {
  //color: $whiteLite;
}

#pun_wrap {
  width: 960px;
  margin: 0 auto;
  background-color: $darkBeige;
  margin-bottom: 32px;
  position: relative;
}
#pun-index::after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.section {
  background-color: $darkBeige;
}

.container {
  padding: 0 16px;
}

.section > h2 {
  display: none;
}
.divider {
  display: none;
}
