#pun-title {
  background-image: url("http://forumfiles.ru/files/0019/71/cd/55017.jpg");
  background-size: cover;
  background-position: center;
  height: 420px;
  position: relative;

  .title-logo {
    position: absolute;
    top: 40px;
    right: 40px;
    font-family: 'AO TYPE';
    color: white;
    font-size: 50px;
  }
}
